/* Grundlegendes CSS */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Hellgrauer Seitenhintergrund */
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1; /* Lässt den Hauptinhalt wachsen */
    padding: 20px;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    /* Optional: Platz für den fixierten Menü-Button schaffen, falls er überlappt */
    /* padding-top: 70px;
    */
}

.banner-container {
    position: relative;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    display: block;
    max-height: 300px;
    object-fit: cover;
    transition: transform 0.5s ease; /* Hover-Effekt für Bannerbilder */
}

.banner-image:hover {
    transform: scale(1.05);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 90%;
}

.cta-button {
    background-color: #ffffff;
